<%- include("header") -%>
<div class="box" id="heading">
<h1>This is the about page</h1>


<h2>I am a computer science grad who has workied in software development and cybersecurity. Currently I am working on FullStack Website Design and Application</h2>
</div>  

<%-include("footer") -%>
